<div id="container">
  <mat-grid-list cols="40" rowHeight="fit">


    <mat-grid-tile [colspan]="10" [rowspan]="30" [style.background]="'white'">
      <app-conversation-list></app-conversation-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="30" [rowspan]="5" [style.background]="'white'">
      <app-conversation-user></app-conversation-user>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="30" [rowspan]="20" [style.background]="'white'">
      <app-messages></app-messages>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="30" [rowspan]="5" [style.background]="'white'">
      <app-new-message></app-new-message>
    </mat-grid-tile>


  </mat-grid-list>
</div>

<!-- <div id="container">
  <div id="conversations">
      <app-conversation-list></app-conversation-list>
  </div>
  <div id="header">
    <app-conversation-user></app-conversation-user>
  </div>
  <div id="content">
    <app-messages></app-messages>
  </div>
  <div id="footer">
    <app-new-message></app-new-message>
  </div>
</div> -->